<footer class="footer  bg-light-theme pt-0 u-line bg-black">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!--<li><a href="https://www.mbdesign-tn.com/">MBDESIGN</a></li>
                    <li><a href="https://www.mbdesign-tn.com/">Contact</a></li>
                    <li><a href="https://www.mbdesign-tn.com/">About</a></li>-->


                    <li class="fw-600">
                        <span class="text-light-white">Appelez-nous</span> <a href="tel:" class="text-custom-white">+(347) 123 456 789</a>
                    </li>
                    <li class="fw-600">
                        <span class="text-light-white">Envoyez-nous un email</span> <a href="mailto:" class="text-custom-white">demo@domain.com</a>
                    </li>
                    <li class="fw-600">
                        <span class="text-light-white">Rejoignez notre twitter</span> <a href="https://twitter.com/mb_design_tn" class="text-custom-white">@mbdesigntn</a>
                    </li>
                    <li class="fw-600">
                        <span class="text-light-white">Rejoignez notre instagram</span> <a href="https://www.instagram.com/mbdesign1" class="text-custom-white">@mbdesigntn</a>
                    </li>
                    <li class="fw-600">
                        <span class="text-light-white">Rejoignez notre facebook</span> <a href="https://www.facebook.com/mbdesigntn/" class="text-custom-white">@mbdesigntn</a>
                    </li>

                </ul>
            </nav> 
            <!--<div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">Need Help</h6>
                    <ul>
                        <li class="fw-600">
                            <span class="text-light-white">Call Us</span> <a href="tel:" class="text-custom-white">+(347) 123 456 789</a>
                        </li>
                        <li class="fw-600">
                            <span class="text-light-white">Email Us</span> <a href="mailto:" class="text-custom-white">demo@domain.com</a>
                        </li>
                        <li class="fw-600">
                            <span class="text-light-white">Join our twitter</span> <a href="#" class="text-custom-white">@quickmunch</a>
                        </li>
                        <li class="fw-600">
                            <span class="text-light-white">Join our instagram</span> <a href="#" class="text-custom-white">@quickmunch</a>
                        </li>
                    </ul>
                </div>
            </div>-->
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, fait avec   <i class="fa fa-heart heart"></i> par MBDESIGN
                </span>
            </div>
        </div>
    </div>
</footer>
